.container {
	display: flex;
	align-items: center;
	justify-content: center;

}

.active {
    color: #fff;
    background-color: #3C6AA1;
    border-radius: .3rem;
    padding: .7em 1em;
    transition: transform 0.3s ease; /* Agregamos una transición suave */
  }

  .active:hover {
    background-color: #315480;
 
}


  .line {
    vertical-align: 0!important
  }

  .login-links a {
    cursor: pointer;
  }



.container .formContainer {
  max-width: 550px;
  width: 100%;
  padding: 10px;
  
}

.container .formWrapper {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    color: #fff;
    font-family: "Lato", sans-serif;
}

.container .formWrapper h2{
    line-height: 1.2;
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: .5em;
}

.container .formWrapper p{
    line-height: 1.1;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 1.2em;
}

.container .login-links {
    margin-bottom: 1.5em;
}

.container .login-links a{
    font-size: 1rem;
    font-weight: 300;
    color:#fff;
    margin-right: 20px;
    text-decoration: none;
}

.container .login-links a.active{
   font-weight: 700;
}

.container .login-links a:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -10px;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}

 
 @media screen and (min-width: 992px) {
 .container > div {
    width: 50%;
 }

 .container .bgForm {
    display: inline-block;
 }
    
 }

 h1 svg {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    position: relative;
    top: 6px;
  }
