.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.container .formContainer {
	background-color: #23394a;
	border-radius: 5px;
	width: 450px;
    height: 400px;
	padding: 10px;
	margin: 10px;
	box-shadow: 0px 0px 24px #5C5696;
	position: relative;
}

.container .formWrapper {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    color: #fff;
    font-family: "Lato", sans-serif;
}


.container .formWrapper p{
    line-height: 1.1;
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 1.2em;
}


 
 @media screen and (min-width: 992px) {
 .container > div {
    width: 50%;
 }


 }



  button {
    background-color: black;
    color: white;
    font-size: 1.5rem;
    padding: 2px 6px;
    border-radius: 5px;
    margin: 1px 0px;
    cursor: pointer;
  
  }

  a {
    border: #23394a 2px;
  }


  .buttons {
    display: flex;
  gap:5px;
  }

  /* Agrega estilos adicionales al botón "Atrás" */
 button[type="last"] {
     background-color: black;
     color: white;
    font-size: 1.5rem;
    padding: 2px 6px;
    border-radius: 5px;
    margin: 1px 0px;
    cursor: pointer;
    position:absolute;
    bottom:10px;
    right: 10px;
}


/*según el mensaje*/
.message {
  font-size: 16px;
}

.success {
  color: green;
}

.error {
  color: red;
}

/*clases contenedor atrás*/
.backButtonContainer {
  margin-top: 20px;
  position: absolute;
  bottom:10px;
  right:10px;
}

.backButtonLink {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.backButtonIcon {
  margin-right: 5px;
  color: white;
}
