.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    flex-direction: column;
  }
  
  .container .formContainer {
   
    padding: 10px;
    margin: 10px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .container .formWrapper {
    max-width: 440px;
    color: #000000;
    font-family: "Lato", sans-serif;
  }
  
  .container .formWrapper p {
    line-height: 1.1;
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 1.2em;
  }
  
  @media screen and (min-width: 992px) {
    .container > div {
      width: 50%;
    }
  }
  
  button {
    color: white;
    font-size: 1.5rem;
    padding: 2px 6px;
    border-radius: 5px;
    margin: 1px 0px;
    cursor: pointer;
  }
  
  .buttons {
    display: flex;
    gap: 5px;
  }
  
  .success {
    display: block;
    color: #ffffff;
    background-color: #2ad61a;
    padding: 5px;
    border: 1px solid #03c10a;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .error {
    display: block;
    color: #ffffff;
    background-color: #dd5b5b;
    padding: 5px;
    border: 1px solid #ff0000;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .backButtonContainer {
    margin-top: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .backButtonLink {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .backButtonIcon {
    margin-right: 5px;
    color: rgb(0, 0, 0);
  }
  