/* Estilos generales del carrusel y las imágenes */
.centered-carousel {
  position: relative;
  width: 100%;
  margin: 0 auto; /* Esto centra el carrusel horizontalmente */
  direction: ltr;
  margin-top: 40px;
}

.sliderimg {
  position: relative;
  cursor: pointer;
}

.sliderimg img {
  width: 80%;
  height: 380px;
}

/* Estilos para el overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo gris con opacidad */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  opacity: 0; /* Inicialmente, el overlay está oculto (sin opacidad) */
  transition: opacity 0.3s; /* Agrega una transición de opacidad para una apariencia suave */
}

.sliderimg:hover .overlay {
  opacity: 1; /* Muestra el overlay con opacidad completa al hacer hover en la imagen */
}

/* Ajusta el espacio entre los slides */
.alice-carousel__stage-item {
  margin-bottom: 10px; /* Reduce el espacio entre los slides, ajusta según tus preferencias */
}

.alice-carousel__wrapper {
  margin: 0 auto;
  width: 85%;
  margin-bottom: 30px;
}


.description {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: left;
  color: white; /* Color de texto blanco */
  padding: 5px; /* Relleno para el texto */
  font-size: 14px; /* Tamaño de fuente */
  max-height: 200px; /* Altura máxima para el área de texto */
  overflow: hidden; /* Ocultar texto adicional */
  text-overflow: ellipsis; /* Agregar puntos suspensivos al texto recortado */
  margin-bottom: 20px; /* Agrega margen en la parte inferior del párrafo */
  line-height: 1.5; /* Controla el espaciado entre líneas */

}



/* Estilo para los botones de navegación del carrusel */
.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
 
  color: #fff; /* Cambia el color del texto */
  border: none; /* Elimina el borde */
  border-radius: 50%; /* Da forma redonda a los botones */
  font-size: 24px; /* Tamaño de fuente */
  width: 40px; /* Ancho del botón */
  height: 40px; /* Alto del botón */
  position: absolute; /* Posiciona de forma absoluta */
  top: 50%; /* Lo coloca en el centro verticalmente */
  transform: translateY(-50%); /* Alinea verticalmente */
}

.alice-carousel__prev-btn-item {
  left: 30px; /* Lo coloca en el extremo izquierdo */
}

.alice-carousel__next-btn-item {
  right: 30px; /* Lo coloca en el extremo derecho */
}
