.FilterPage {
    border: 1px solid #ddd;
    width: 100%;
    
    td {
      border-radius: 0;
    }
  
    &-controls {
      height: 100%;
    }
  
    &-button {
      padding: 0;
      border-radius: 0;
      background-color: rgba(180, 170, 170, 0.1019607843);
      color: black;
      margin-right: 10px;
      transition: background-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      cursor: pointer;
      margin-left: 10px;
  
      &:hover {
        background-color: #d1d1d1;
      }
    }
  
    &-input {
      padding: 10px;
      width: 80%;
    }
  
    &-words {
      display: flex;
      overflow: hidden;
  
      .form-control {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        width: 20px;
      }
    }
  }
  