
table.TableContainer {
  border:1px solid #ddd;
 padding: 10px;
 margin-left: auto;
 margin-right: auto;
 background-color: white;
 border-radius: 0.5%;
}

.TableContainer tbody:last-child tr:hover {
 background-color: #c3bfbf; /* Cambia este color según tus preferencias */
 color: white;
 cursor: pointer;
}
tr {
display: grid;
grid-template-columns: 200px 700px 100px 100px;
}

td {
padding: 8px;
border-bottom: 1px solid gray;
text-overflow: ellipsis;
white-space: nowrap;
}


.Sorters{
color:#2E4E7A
}



@keyframes buttonClickAnimation {
0% {
  transform: scale(1);
}
50% {
  transform: scale(1.2);
}
100% {
  transform: scale(1);
}
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
tr {
  grid-template-columns: 150px 400px 80px 80px;
}
}

.AddButton {
  background-color: transparent;
  border-radius: white;
}

.AddButton:hover {
  transform: scale(2);
}

/*TOOLTIP CODE*/
/* Tooltip container */
.tooltip {
  position:relative; /* making the .tooltip span a container for the tooltip text */
  margin-top: 0;
}

.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  left:30%;
  margin-left:15px; /* and add a small left margin */
  
  /* basic styles */
  padding:10px;
  border-radius:10px;
  background:#000;
  color: #fff;
  text-align:center;
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto es demasiado largo */
  display:none; /* hide by default */
}

.tooltip:hover:before {
  display:block;
}

/*arrow*/
.tooltip:after {
  content: "";
  position:absolute;
  
  /* position tooltip correctly */
  left:30%;
  margin-left:-5px;
 
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
 
  /* the arrow */
  border:10px solid #000;
  border-color: transparent black transparent transparent;
  
  display:none;
}
.tooltip:hover:before, .tooltip:hover:after {
  display:block;
}