
 
  main {
    background-color: #494b49;
    padding: 1em;
  }
  
 
  h2 {
    color: #000000;
  }
  
  section {
    color:white;
    position: relative;
    top: -120px;
    z-index: -1;
  }
  aside h1 {
    min-width: 30vw;
  }
  
  main {
    display: flex;
    align-items: flex-start;

    flex-wrap: wrap;
  }
  aside {
    margin-right: 2em;
  }
  
  
  main .container {
    flex-direction: column;
  }
  
  main a, aside li a {
    margin-right: 1em;
    color: #a6c017;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
  }
  
  
  /* //el active lo usa automático el navlink */
  .active {
    color: #fff;
    background-color: #30a72a;
    border-radius: .3rem;
    padding: .7em 1em;
    transition: all 0.3s ease-in-out;
  }

   /* //el active lo usa automático el navlink */

  div.Container {

    
     padding: 40px;
  
     margin: 0 auto; /* Margen automático en los lados para centrar horizontalmente */
      }

  /* Aplicar estilos a un botón deshabilitado */
button[disabled] {
  background-color: #0455ab;
  color: #ccc;
  cursor: not-allowed;
  opacity: 0.5;
}


/* Media Query para dispositivos pequeños (max-width 768px) */
@media (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  aside {
    margin-right: 0;
    margin-bottom: 1em;
  }
}

.line {
  border-bottom: #06a7e4 solid 2px;
width: 50%;
margin: auto;
margin-top: -100px;

}

/*clases para la imagen de portada*/

 
.images {
  position: relative;
  height: 500px; /* Establece la altura deseada */
  width: 100%;
  overflow: hidden;
}

.backimages {
  background-size: cover;
  border-radius: 0 0 60px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Coloca la imagen detrás del contenido */
}

.thinContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el contenido vertical y horizontalmente */
  text-align: center;
  color: white; /* Cambia el color del texto */
  padding: 1rem; /* Agrega un relleno al contenido */
 
}

.thinContainer h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.thinContainer h2 {
  font-size: 1rem;
}

