body {
background-color: #ffffff;
border-radius: 0px 0px 0px 0px;
font-family: "Dela Gothic One", sans-serif!important;
  }


  button{
    color: #ffffff!important;
    padding: 10px 20px!important;
    border: none!important;
    border-radius: 4px!important;
    cursor: pointer!important;
    font-size: 16px!important;
    background-color: #1d4e89;
  }

  input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}