.images {
  position: relative;
  height: 600px; /* Establece la altura deseada */
  width: 100%;
  overflow: hidden;

}


.thinContainer {
  position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
padding: 1rem;
height: 100%;
margin-top:50px;

}

.thinContainer h1 {
  width: 100%;
  height: auto;
  color: #1d4e89;
  font-size: 200px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 0.6;
  text-align: center;
}

.thinContainer h2 {
  margin-top: 20px;
  font-size: 1rem;
  text-align: center; /* Centra el texto horizontalmente */
  color: white; /* Cambia el color del texto */
  margin-top: 4rem;
  left: 25%;
position: relative;
height: 112px;
width: 50%;
overflow: hidden;
}

.Explorer{
  display: block;
  margin: 0 auto; /* Centra horizontalmente */
  text-align: center; /* Alinea el texto al centro */
  padding: 10px 20px; /* Puedes ajustar el padding según tu preferencia */
  background-color: #0077b5; /* Cambia el color de fondo según tu diseño */
  color: white; /* Cambia el color del texto según tu diseño */
  border: none;
  border-radius: 5px; /* Borde redondeado */
  font-size: 18px; /* Tamaño de fuente */
  margin-top: 30px ;
  font-family: "Instrument Sans", sans-serif;
 
  /* Otros estilos que desees aplicar */
}

/* Clase para el texto que se escribe a máquina */
.typewriter-text {
  overflow: hidden; /* Oculta el contenido que se desborda */
  border-right: .15em solid orange; /* Efecto del cursor intermitente */
  margin: 0 auto; /* Centra el texto */
  letter-spacing: .15em; /* Espaciado entre letras */
  animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
  
  width: 100%;
height: auto;


font-weight: 500;
font-style: normal;
font-family: "Instrument Sans", sans-serif;
color: #000000;
font-size: 20px;
letter-spacing: 0em;
text-transform: uppercase;
line-height: 1.4;
text-align: center;

 

}

/* Animación para el parpadeo */
@keyframes blink {
  50% {
    border-color: transparent;
  }}

  /* Animación para simular la escritura */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }