/* Estilos para el contenedor principal de User Page */
.userPage {
    
  margin: 0px 20px 20px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 20px;
  flex: 1;
  }
  


  