/* Estilos para el contenedor de la tabla */
.TableContainer {
    border: 1px solid #ddd;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d9d8d8;
    border-radius: 0.5%;
    width: min-content;
  
    tbody:last-child tr:hover {
      background-color: #c3bfbf;
      color: white;
      cursor: pointer;
    }
  
    /* Estilos para filas y columnas de la tabla */
    tr {
      display: grid;
      grid-template-columns: 200px 700px 100px 100px;
    }
  
    td {
      padding: 8px;
      border-bottom: 1px solid gray;
      text-overflow: ellipsis;
    }
  
    /* Estilos para los clasificadores */
    .Sorters {
      color: #2e4e7a;
    }
  
    /* Animación de clic en el botón */
    @keyframes buttonClickAnimation {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
  
    /* Media query para pantallas más pequeñas */
    @media (max-width: 768px) {
      tr {
        grid-template-columns: 150px 400px 80px 80px;
      }
    }
  
    /* Estilos para el botón de agregar */
    .AddButton {
      background-color: transparent;
  
      &:hover {
        transform: scale(2);
      }
    }
  
    /* CÓDIGO PARA TOOLTIP */
    /* Contenedor del tooltip */
    .tooltip {
      position: relative;
      margin-top: 0;
  
      &:before {
        content: attr(data-text);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 30%;
        margin-left: 15px;
        padding: 10px;
        border-radius: 10px;
        background: #000;
        color: #fff;
        text-align: center;
        max-width: 500px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: none;
      }
  
      &:hover:before {
        display: block;
      }
  
      /* Flecha */
      &:after {
        content: "";
        position: absolute;
        left: 30%;
        margin-left: -5px;
        top: 50%;
        transform: translateY(-50%);
        border: 10px solid #000;
        border-color: transparent black transparent transparent;
        display: none;
      }
  
      &:hover:before,
      &:hover:after {
        display: block;
      }
    }
  }
  